@charset "UTF-8";
/* CSS Document */
body {
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    max-width: 960px;
    min-width: 960px;
    font-size:  12px;
    font-family: Verdana, Helvetica, sans-serif;
    line-height: 1.6;
}

a {
    color: #888;
    text-decoration:none;
    -moz-text-decoration-color: #888; /* Code for Firefox */
    text-decoration-color: #888;
}

a:hover {
    color:#53f;
}

text {
    color: #888;
    text-decoration:none;
    -moz-text-decoration-color: #888; /* Code for Firefox */
    text-decoration-color: #888;
}

.content {
    width: 100%;
    max-width: 960px;
    margin-top: 30px;
    padding: 0;
}

.id {
    display:inline-block;
    width: 20%;
    margin: 0;
    vertical-align:top;
}
#content p {
    margin-top: 3px;
    margin-bottom: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.main {
    display:inline-block;
    width: 75%;
    margin: 10px;
    vertical-align:top;
}

h4 {
    margin-bottom:6px;
}

#nav {
    color: #888;
    text-align: left;
    margin-bottom: 10px;
    margin-top: -15px;
}

#nav a {
    text-decoration: none;
    font-weight:normal;
    color:#888;
}

#nav a:hover{
    color: #53f;
}

.pThumbnail {
    width: 120px;
    vertical-align:top;
    margin-bottom: auto;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.research {
    max-width: 29%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ebebeb;
    margin: 15px 11px 25px 11px;
    background: white;
    font-family: Helvetica;
}

.researchImg {
    height: 140px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: white;
    border-bottom: 0.5px solid #FAFAFA;
}

.researchTitle {
    font-weight: bold;
    padding: 5px 3px 2px 5px;
    color: #111;
}

.researchInfo {
    padding: 0px 5px 5px 5px;
    color: #666;
    line-height: 16px;
}


.pubs ol {
    /*counter-reset: j_item 36 c_item 15;*/
    list-style: none;
    padding-left: 10px;
}

.pubs ol:first-of-type {
    counter-reset: j_item 39 c_item 22 bc_item 4;
}

/*.pubs ol li {*/
/*    margin-bottom: 1em;*/
/*    padding-left: 1em*/
/*}*/

.pubs ol li:before {
    display: inline-block;
    margin-left: -1em;
    margin-right: .5em
}

.pubs ol li .light b {
    font-weight: 400
}

.pubs ol.journal li:before {
    counter-increment: j_item -1;
    content: "[J" counter(j_item) "]"
}

.pubs ol.conference li:before {
    counter-increment: c_item -1;
    content: "[C" counter(c_item) "]"
}

.pubs ol.bc li:before {
    counter-increment: bc_item -1;
    content: "[BC" counter(bc_item) "]"
}